VITE_SUPABASE_URL=https://qjqduozzfftnomytazcr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqcWR1b3p6ZmZ0bm9teXRhemNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwMzQzNzMsImV4cCI6MjA4MDYxMDM3M30.mTUnmGEQQ4du-Ja2OJF15uwGSzwGB6Pm-o_BO5jBHiU
VITE_SITE_URL=http://localhost:5173/DayPlanner/
